*{
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

margin:0;
background:#08152b;
color:white;

}


.app{

max-width:500px;
margin:auto;
padding:20px;

}


header{

text-align:center;

}


.logo{

width:120px;
height:120px;

}


h1{

font-size:35px;
color:#00d9ff;

}


header p{

color:#ccc;

}


button{

border:none;
border-radius:15px;
padding:12px;
font-size:16px;
cursor:pointer;

}


.connexion{

background:#2563eb;
color:white;

}



.create-box{

margin-top:30px;
display:flex;
gap:10px;

}


input{

flex:1;
padding:15px;
border-radius:15px;
border:none;

}



.create{

background:#00c853;
color:white;

}



.cards{

display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-top:30px;

}


.card{

background:#12284d;
padding:20px;
border-radius:20px;
text-align:center;

}



.icon{

font-size:40px;

}



nav{

position:fixed;
bottom:0;
left:0;
right:0;

background:#101f3d;

display:flex;
justify-content:space-around;

padding:10px;

}


nav button{

background:none;
color:white;

}
