body{

margin:0;

font-family:Arial, sans-serif;

background:#f2f2f2;

color:#111;

text-align:center;

}


.container{

max-width:500px;

margin:auto;

padding:20px;

}



.logo{

width:160px;

height:160px;

margin-top:20px;

animation:flottement 3s infinite;

}



@keyframes flottement{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-12px);
}

100%{
transform:translateY(0);
}

}



h1{

font-size:40px;

margin:10px;

}



h2{

font-size:26px;

margin:25px 0;

}



.btn{

background:#333;

color:white;

border:none;

border-radius:15px;

padding:15px 25px;

font-size:18px;

margin:10px;

}



.creation{

display:flex;

justify-content:center;

align-items:center;

gap:10px;

}



textarea{

width:230px;

height:60px;

font-size:18px;

padding:10px;

}



section{

margin-top:25px;

}



.menu{

display:flex;

justify-content:center;

gap:8px;

margin-top:40px;

}



.menu button{

background:#333;

color:white;

border:none;

border-radius:12px;

padding:12px;

font-size:16px;

width:85px;

}



@media(max-width:600px){

h1{

font-size:34px;

}

.logo{

width:140px;

height:140px;

}

}
