body{
margin:0;
font-family:Arial;
background:#030b18;
color:white;
}


header{
display:flex;
justify-content:space-between;
padding:30px;
align-items:center;
}


h1{
font-size:35px;
color:#35eaff;
}


header button{
background:#102744;
color:white;
border:1px solid #35eaff;
padding:15px;
border-radius:30px;
}


.creation{
margin:20px;
padding:30px;
background:#0b2038;
border-radius:30px;
}


input{
width:90%;
padding:20px;
border-radius:25px;
background:#122b45;
border:1px solid #35eaff;
color:white;
font-size:18px;
}


.create{
margin-top:20px;
width:100%;
padding:20px;
border-radius:40px;
background:#27dfff;
font-size:22px;
}


.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
padding:20px;
}


.grid button{
height:180px;
border-radius:25px;
background:#102944;
color:white;
border:1px solid #345;
font-size:22px;
}


.grid p{
font-size:14px;
color:#ccc;
}


nav{
position:fixed;
bottom:0;
width:100%;
background:#071426;
padding:20px;
text-align:center;
color:#35eaff;
}
